body {
  background: linear-gradient(rgb(41, 38, 38), grey);
}

/* -------------------------------------------------------- */

h1 {
  color: white;
  text-align: center;
  letter-spacing: 0.2px;
  transition: 5s;
  font-family: 'Coda Caption', sans-serif;
  margin-top: 40px;
  font-size: 2em;
}

p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
}

/* -------------------------------------------------------- */
/* nav */
a {
  list-style-type: none;
  flex-grow: 0.2;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'Coda Caption', sans-serif;
}

a:visited {
  color: rgb(122, 138, 235);
}

ul {
  display: flex;
  background-color: white;
  height: 100px;
  width: 100%;
  transition: 5s;
}

li {
  flex-grow: 0.2;
  justify-content: center;
  padding: 5px;
  list-style-type: none;
  margin-left: 100px;
  margin-top: 40px;
  line-height: 50%;
  font-size: 1em;
}

/* FIN NAV */

/* -------------------------------------------------------- */
/* FOOTER */
footer {
  background-color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.7em;
  font-family: 'Coda Caption', sans-serif;
}